html {
    background: url("https://i.imgur.com/qLCjUPe.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: #EAEAFF;
    font-family: 'Quicksand';
    text-align: center;
}

* {
    box-sizing: border-box;
    color: #444;
}

main {
    position: fixed;
    width: 90vw;
    background: rgba(234, 234, 255,0.9);
    border: .25vw solid #889;
    left: 5vw;
    top: 0vh;
    bottom: 0vh;
    border-top-style: none;
}

main *, footer * {
    opacity: 0;
    animation: fadein 2s ease-out .5s 1 normal forwards;
    -webkit-animation: fadein 2s ease-out .5s 1 normal forwards;
}

footer {
    position: fixed;
    width: 90vw;
    left: 5vw;
    bottom: 0vh;
    text-align: center;
}

p {
    font-size: 3.5vmin;
    margin: 3vmin;
}

h1, a {
    font-family: "Josefin Sans";
    font-weight: 400;
}

h1 {
    font-size: 6vmin;
}

a {
    width: 20vmin;
    height: 20vmin;
    background-color: #778;
    font-size: 4vmin;
    border: 0vmin solid #778;
    border-radius: 50%;
    padding-top: 7.5vmin;
    margin: 3vmin;
    color: #EAEAFF;
    text-decoration: none;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    box-shadow: .25em .25em 5vmin #777;
    text-shadow: .125em .125em 1.5vmin black;
}

a:hover {
    width: 22vmin;
    height: 22vmin;
    padding-top: 8.5vmin;
    color: #DDF;
    background: #445;
    box-shadow: .25em .25em 5vmin #777;
    text-shadow: .25em .25em 1vmin #444;
}

nav {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    align-items: baseline;
    align-content: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.delay1 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.delay2 {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.delay3 {
    animation-delay: 4.5s;
    -webkit-animation-delay: 4.5s;
}

.delay4 {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.delay5 {
    animation-delay: 7s;
    -webkit-animation-delay: 7s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}